<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UFP-Aktywność</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/94badef91b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/Index.css">
</head>

<body>
<!-- NAWIGACJA -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
  <div class="container">
    <!-- LOGO Z NAZWĄ -->
    <a class="navbar-brand px-3 font-weight-bold widocznoscDuza" href="/"><i class="fas fa-university"></i> Uczelniane Forum Problemowe</a>
    <a class="navbar-brand px-3 font-weight-bold widocznoscMala" href="/"><i class="fas fa-university"></i> UFP</a>
    <!-- PRZYCISK DO ROZWIJANIA OPCJI GDY EKRAN JEST MAŁY -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- OPCJE FORUM -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a th:if="${rola.equals('[ADMINISTRATOR]')}" class="nav-link" href="/administrator/listaUzytkownikow">Użytkownicy</a>
        <a class="nav-link" th:href="@{/profil/{id}(id = ${uzytkownik.id})}">Profil </a>
        <a class="nav-link" href="/zmianaForum">Forum</a>
        <a class="nav-link active" href="/aktywnosc">Aktywnosc<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/logout">Wyloguj</a>
      </div>
    </div>
  </div>
</nav>

<!-- ELEMENTY POD NAWIGACJĄ -->
<div class="container mt-5 pt-4">

  <!-- INFORMACJE O UŻYTKOWNIKU, JEGO NICKNAME I RANGA -->
  <!-- UZYTKOWNIK -->
  <div class="row justify-content-end">
    <div class="dropdown">
      <button class="btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Obserwowani
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <table>
          <tr th:each="obserwowany,i : ${obserwowaniLista}">
            <th><a class="dropdown-item" th:href="@{/profil/{id}(id = ${obserwowany.getId()})}" th:text="${obserwowany.getImie()}"></a></th>
          </tr>
        </table>
      </div>
    </div>

    <div class="col-auto mr-1">
      <i class="fas fa-user"></i>
      <span th:object="${uzytkownik}" th:text="${uzytkownik.getImie()}"></span>
    </div>
    <div class="col-auto ml-1">
      <i class="fas fa-user-tag"></i>
      <span th:object="${uzytkownik}" th:text="${uzytkownik.getRanga()}"></span>
    </div>
  </div>

  <!-- BIERZĄCE FORUM KTÓRE PRZEGLĄDA UŻYTKOWNIK -->
  <!-- UZYTKOWNIK -->
  <div class="row">
    <div class="col">
      <p class="navbar-brand font-weight-bold" th:text="${'Wydział ' + uzytkownik.getBierzacyWydzial()}"></p>
    </div>
  </div>


  <!-- OBRAMOWANIE -->
  <div class="border rounded p-2">

    <p class="navbar-brand font-weight-bold">Aktywność</p>

    <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Tworca</th>
        <th scope="col">Opis</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="temat,i : ${listaTematow}">
        <td th:text="${i.index+1}"></td>
        <td><a th:href="@{/temat/{id}(id = ${temat.id})}" th:text="${temat.nazwa}"></a></td>
        <td><a th:href="@{/profil/{id}(id = ${temat.getUzytkownik().id})}" th:text="${temat.getUzytkownik().imie}"></a></td>
        <td th:text="${temat.getOpis()}"></td>
      </tr>
      </tbody>
    </table>
    </div>

  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>