<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Strona Główna</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/94badef91b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/Index.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 fixed-top">
  <div class="container">
    <a class="navbar-brand px-3 font-weight-bold widocznoscDuza" href="/"><i class="fas fa-university"></i> Uczelniane Forum Problemowe</a>
    <a class="navbar-brand px-3 font-weight-bold widocznoscMala" href="/"><i class="fas fa-university"></i> UFP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Profil </a>
        <a class="nav-link" href="/zmianaForum">Forum</a>
        <a class="nav-link" href="#">Moje posty</a>
        <a class="nav-link" href="/logout">Wyloguj</a>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-5 pt-4">

  <div class="row justify-content-sm-start justify-content-md-end">
    <div class="col-sm col-md-3">
      <i class="fas fa-user"></i>
      <span th:object="${uzytkownik}" th:text="${uzytkownik.getLogin()}"></span>
    </div>
    <div class="col-sm col-md-3">
      <i class="fas fa-user-tag"></i>
      <span th:object="${uzytkownik}" th:text="${uzytkownik.getRanga()}"></span>
    </div>
  </div>

  <div class="row mt-3">
    <h2 th:text="${uzytkownik.getBierzacyWydzial()}"></h2>
  </div>

  <table class="table">
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Twórca</th>
      <th>Data Utworzenia</th>
      <th th:if="${rola.equals('[MODERATOR]') or rola.equals('[ADMINISTRATOR]')}">Edycja</th>
    </tr>
    <tr th:each="watek,i : ${watekLista}">
      <td th:text="${i.index+1}"></td>
      <td><a th:href="@{/watek/{id}(id = ${watek.id})}" th:text="${watek.nazwa}"></a></td>
      <td th:text="${watek.uzytkownik.imie}"></td>
      <td th:text="${watek.dataUtworzenia}"></td>
      <td th:if="${rola.equals('[MODERATOR]') or rola.equals('[ADMINISTRATOR]')}">
        <a th:href="@{/watek/update/{id}(id = ${watek.id})}">Edytuj</a>
        <a th:href="@{/watek/delete/{id}(id = ${watek.id})}">Usuń</a>
      </td>
    </tr>
  </table>

  <table class="table mt-5" th:if="${tematLista != null}">
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Twórca</th>
      <th>Data Utworzenia</th>
      <th>Opis</th>
    </tr>
    <tr th:each="temat,i : ${tematLista}">
      <td th:text="${i.index+1}"></td>
      <td><a th:href="@{/temat/{id}(id = ${temat.id})}" th:text="${temat.nazwa}"></a></td>
      <td th:text="${temat.uzytkownik.imie}"></td>
      <td th:text="${temat.dataUtworzenia}"></td>
      <td th:text="${temat.opis}"></td>
    </tr>
  </table>

  <form th:if="${rola.equals('[MODERATOR]') or rola.equals('[ADMINISTRATOR]')}" th:action="@{/watek/add}" method="post" th:object="${watekView}">
    <div class="form-group">
      <label>Dodaj nowy watek:</label>
      <input type="text" th:field="*{nazwa}" class="form-control" id="username" placeholder="Wprowadź nazwe">
      <input class="d-none" type="text" th:field="*{idRodzica}" id="idRodzica">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
  </form>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>